.profile {
    position: absolute;
    z-index: 1;
    height: 70%;
    width: 70%;
    padding: 50px;
    background-image: url("../assets/profile_back.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.profile-picture {
    position: relative;
    height: 15rem;
    width: 15rem;
    background-color: #dedede;
    box-shadow: 0 0 0 13px white;
    border-radius: 15px;
}

.profile .profile-picture img {
    width: 14rem;
    height: 15rem;
    border-radius: 15px;
}

.profile-details {
    height: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 10px 20px;
}

.profile-details h3 {
    color: var(--card-text-color);
    font-size: 2em;
    margin: 0;
}

.profile-block {
    margin: 5px 10px;
}

.profile-label {
    color: var(--card-text-color);
    font-size: 2em;
    font-weight: 400;
    margin: 5px 0px;
}

.profile-value {
    color: black;
    font-size: 2em;
    margin: 5px 0px;
}