
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #3c6562 !important;
}

::placeholder {
  font-family: 'JoffreyFont', sans-serif; 
  font-weight: 500;
  font-style: normal;
}

.amatic-sc-regular {
  font-family: 'JoffreyFont', sans-serif; 
  font-weight: 500;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'JoffreyFont';
  src: url('./assets/In\ your\ face\,\ joffrey.ttf') format('truetype'); /* Path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}


.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  animation: star linear infinite;
  animation-duration: 20s;

}

@keyframes star {
  from {
    left: -2px; /* Start from off-screen left */
  }
  to {
    left: calc(100% + 2px); /* Move off-screen right */
  }
}
